Repository TheNoctambulist/hass-airtouch: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, type-check, format-files, validate-manifest

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - pre-push
repos:
  - repo: local
    hooks:
      - id: lint
        name: Ruff Linting
        language: system
        entry: pdm run ruff check
        files: '\.py$'
      - id: type-check
        name: MyPy Type Checking
        language: system
        entry: pdm run mypy
        files: '\.py$'
      - id: format-files
        name: Ruff Formatting
        language: system
        entry: pdm run ruff format
        files: '\.py$'
        stages:
          - pre-commit
      - id: validate-manifest
        name: Validating manifest
        language: system
        entry: pdm run validate-manifest
        files: '^(pdm\.lock|manifest\.json)$'
        pass_filenames: false

Fix hvac_action for zones
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Simplify preset mode mapping
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Improve documentation
  README.md
  images/right-arrow.png
  images/thermostat-card-1.png
  images/thermostat-card-2.png
  images/thermostat-card-3.png
Due: none

Update to pyairtouch v0.4.0
  custom_components/airtouch/devices.py
  custom_components/airtouch/manifest.json
  pdm.lock
  pyproject.toml
Due: lint, type-check, format-files, validate-manifest

Bump to pyairtouch v0.5.0
  custom_components/airtouch/manifest.json
  pdm.lock
  pyproject.toml
Due: validate-manifest

Update dependency versions
  pdm.lock
Due: validate-manifest

Add vscode debug configuration
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Add temperature and damper sensors
  README.md
  custom_components/airtouch/__init__.py
  custom_components/airtouch/binary_sensor.py
  custom_components/airtouch/devices.py
  custom_components/airtouch/entities.py
  custom_components/airtouch/sensor.py
Due: lint, type-check, format-files

Add update entity
  README.md
  custom_components/airtouch/__init__.py
  custom_components/airtouch/entities.py
  custom_components/airtouch/update.py
Due: lint, type-check, format-files

Improve zone climate entity behaviour
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Update pyairtouch to v0.5.1
  custom_components/airtouch/manifest.json
  pdm.lock
  pyproject.toml
Due: validate-manifest

Upgrade to pyairtouch v0.7.0
  custom_components/airtouch/manifest.json
  pdm.lock
  pyproject.toml
Due: validate-manifest

Add manual config flow
  README.md
  custom_components/airtouch/__init__.py
  custom_components/airtouch/binary_sensor.py
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/const.py
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
  pdm.lock
  pyproject.toml
Due: lint, type-check, format-files, validate-manifest

Fix bypass sensor
  README.md
  custom_components/airtouch/__init__.py
  custom_components/airtouch/binary_sensor.py
Due: lint, type-check, format-files

Improve damper percentage handling
  README.md
  custom_components/airtouch/cover.py
  custom_components/airtouch/sensor.py
Due: lint, type-check, format-files

Only suggest existing areas for zones
  custom_components/airtouch/devices.py
Due: lint, type-check, format-files

Fix filename in HACS manifest
  .github/workflows/release.yml
  hacs.json
Due: none

Improve compatibility with older Home Assistant versions
  custom_components/airtouch/__init__.py
Due: lint, type-check, format-files

Update issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

Address github action warnings
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .vscode/settings.json
Due: none

Handle missing spill/bypass config
  custom_components/airtouch/binary_sensor.py
Due: lint, type-check, format-files

Migrate to github-release-from-tag
  .github/workflows/release.yml
Due: none

Upgrade dependencies
  pdm.lock
  pyproject.toml
Due: validate-manifest

Make compatible with Home Assistant 2024.2
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Add text and icon translations for fan modes
  custom_components/airtouch/climate.py
  custom_components/airtouch/icons.json
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
Due: lint, type-check, format-files

Home Assistant 2024.2 compatibility for zone climate
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Address ruff deprecation warnings
  pyproject.toml
Due: none

Implement turn_on and turn_off for climate entities
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Add set_hvac_mode_only service
  README.md
  custom_components/airtouch/climate.py
  custom_components/airtouch/icons.json
  custom_components/airtouch/services.yaml
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
Due: lint, type-check, format-files

Add minimum temperature step option
  README.md
  custom_components/airtouch/climate.py
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/const.py
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
Due: lint, type-check, format-files

Improve zone turn on logic
  README.md
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Add spill zone configuration
  README.md
  custom_components/airtouch/__init__.py
  custom_components/airtouch/binary_sensor.py
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/const.py
  custom_components/airtouch/sensor.py
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
Due: lint, type-check, format-files

Address 2024.3 compatibility
  custom_components/airtouch/__init__.py
Due: lint, type-check, format-files

Align with ruff formatter updates
  custom_components/airtouch/devices.py
Due: lint, type-check, format-files

Improve accuracy of spill percentage sensor
  custom_components/airtouch/entities.py
  custom_components/airtouch/sensor.py
Due: lint, type-check, format-files

Allow debugging of imported code
  .vscode/launch.json
Due: none

Support HVAC Mode in climate.set_temperature
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

HomeAssistant 2024.4 compatibility
  .github/workflows/lint.yml
  .github/workflows/validate.yml
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/devices.py
  pdm.lock
  pyproject.toml
Due: lint, type-check, format-files, validate-manifest

Add note about built-in integrations
  README.md
Due: none
