Repository TheNoctambulist/hass-airtouch: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, type-check, format-files, validate-manifest

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - pre-push
repos:
  - repo: local
    hooks:
      - id: lint
        name: Ruff Linting
        language: system
        entry: pdm run ruff check
        files: '\.py$'
      - id: type-check
        name: MyPy Type Checking
        language: system
        entry: pdm run mypy
        files: '\.py$'
      - id: format-files
        name: Ruff Formatting
        language: system
        entry: pdm run ruff format
        files: '\.py$'
        stages:
          - pre-commit
      - id: validate-manifest
        name: Validating manifest
        language: system
        entry: pdm run validate-manifest
        files: '^(pdm\.lock|manifest\.json)$'
        pass_filenames: false

Update to pyairtouch 0.8.0
  custom_components/airtouch/manifest.json
  pdm.lock
  pyproject.toml
Due: validate-manifest

Improve support for multiple AirTouches
  custom_components/airtouch/__init__.py
  custom_components/airtouch/binary_sensor.py
  custom_components/airtouch/climate.py
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/const.py
  custom_components/airtouch/cover.py
  custom_components/airtouch/devices.py
  custom_components/airtouch/sensor.py
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
  custom_components/airtouch/update.py
Due: lint, type-check, format-files

Config flow improvements
  custom_components/airtouch/__init__.py
  custom_components/airtouch/strings.json
Due: lint, type-check, format-files

Allow HVAC mode changes from zones
  README.md
  custom_components/airtouch/climate.py
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/const.py
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
Due: lint, type-check, format-files

Update dependencies
  custom_components/airtouch/manifest.json
  pdm.lock
  pyproject.toml
Due: validate-manifest

Always initialise zone HVAC modes
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Add damper to temperature control blueprint
  README.md
Due: none

Cache mypy for github action
  .github/workflows/lint.yml
Due: none

Support AirTouch with no zones
  custom_components/airtouch/manifest.json
  pdm.lock
Due: validate-manifest

Add message for ConfigNotReady error
  custom_components/airtouch/__init__.py
Due: lint, type-check, format-files

Update README.md
  README.md
Due: none

Update README.md (#10)
  README.md
Due: none

Upgrade dependencies
  custom_components/airtouch/climate.py
  custom_components/airtouch/manifest.json
  pdm.lock
Due: lint, type-check, format-files, validate-manifest

Update pyairtouch
  custom_components/airtouch/climate.py
  custom_components/airtouch/manifest.json
  pdm.lock
Due: lint, type-check, format-files, validate-manifest

Add sensor for active fan speed
  custom_components/airtouch/climate.py
  custom_components/airtouch/sensor.py
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
Due: lint, type-check, format-files

Add quick timer support
  README.md
  custom_components/airtouch/__init__.py
  custom_components/airtouch/icons.json
  custom_components/airtouch/services.yaml
  custom_components/airtouch/strings.json
  custom_components/airtouch/time.py
  custom_components/airtouch/translations/en.json
Due: lint, type-check, format-files

Make normalize_name compatible with 2024.11
  custom_components/airtouch/devices.py
  pdm.lock
Due: lint, type-check, format-files, validate-manifest

Update to HACS Default
  README.md
Due: none

Address linting errors
  custom_components/airtouch/binary_sensor.py
  custom_components/airtouch/climate.py
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/cover.py
  custom_components/airtouch/sensor.py
  custom_components/airtouch/time.py
  custom_components/airtouch/update.py
  pyproject.toml
Due: lint, type-check, format-files

Add translation for spill zone in config flow
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
Due: none

Add error code sensor
  README.md
  custom_components/airtouch/manifest.json
  custom_components/airtouch/sensor.py
  pdm.lock
  pyproject.toml
Due: lint, type-check, format-files, validate-manifest

Use none as the state for no error code
  README.md
  custom_components/airtouch/sensor.py
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
Due: lint, type-check, format-files

Automatically turn zone on with damper control
  README.md
  custom_components/airtouch/cover.py
Due: lint, type-check, format-files

Update pyairtouch
  custom_components/airtouch/manifest.json
  pdm.lock
Due: validate-manifest

Fix AirTouch 4 Quick Timer
  custom_components/airtouch/manifest.json
Due: none

Update pyairtouch in pdm.lock
  pdm.lock
Due: validate-manifest

Fix issues with AirTouch 4 Off Timer
  .pre-commit-config.yaml
  custom_components/airtouch/manifest.json
  pdm.lock
Due: validate-manifest

2024.12 compatibility
  custom_components/airtouch/config_flow.py
  pdm.lock
  pyproject.toml
Due: lint, type-check, format-files, validate-manifest

Address linting errors
  custom_components/airtouch/binary_sensor.py
  custom_components/airtouch/climate.py
  custom_components/airtouch/cover.py
  custom_components/airtouch/devices.py
  custom_components/airtouch/entities.py
  custom_components/airtouch/sensor.py
  custom_components/airtouch/time.py
  custom_components/airtouch/update.py
Due: lint, type-check, format-files

Update python version in github workflows
  .github/workflows/lint.yml
  .github/workflows/validate.yml
Due: none

Add support for AirTouch 5 Smart Override feature
  custom_components/airtouch/climate.py
  custom_components/airtouch/manifest.json
  pdm.lock
  pyproject.toml
Due: lint, type-check, format-files, validate-manifest

Handle None in Fan Speed entity
  custom_components/airtouch/sensor.py
Due: lint, type-check, format-files

Fix handling of Forced Off state
  custom_components/airtouch/climate.py
  custom_components/airtouch/sensor.py
Due: lint, type-check, format-files

Add bypass percentage sensor
  README.md
  custom_components/airtouch/sensor.py
Due: lint, type-check, format-files

Add support for clearing an active preset mode
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Added ability to manual specify connection rather than use discovery.
  custom_components/airtouch/__init__.py
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/const.py
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
Due: lint, type-check, format-files

Fix errors from zone names with emoji
  .vscode/launch.json
  custom_components/airtouch/manifest.json
  pdm.lock
Due: validate-manifest

fix: Zone on/off fails when AC is off and selected_mode is None
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files
