Repository TheNoctambulist/hass-airtouch: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, type-check, format-files, validate-manifest

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - pre-push
repos:
  - repo: local
    hooks:
      - id: lint
        name: Ruff Linting
        language: system
        entry: pdm run ruff check
        files: '\.py$'
      - id: type-check
        name: MyPy Type Checking
        language: system
        entry: pdm run mypy
        files: '\.py$'
      - id: format-files
        name: Ruff Formatting
        language: system
        entry: pdm run ruff format
        files: '\.py$'
        stages:
          - pre-commit
      - id: validate-manifest
        name: Validating manifest
        language: system
        entry: pdm run validate-manifest
        files: '(pdm\.lock|manifest\.json)$'
        pass_filenames: false

fix: zone hvac_mode and hvac_action correct when AC is off
  custom_components/airtouch/climate.py
Due: lint, type-check, format-files

Address type checking errors
  custom_components/airtouch/binary_sensor.py
  custom_components/airtouch/climate.py
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/cover.py
  custom_components/airtouch/devices.py
  custom_components/airtouch/sensor.py
  custom_components/airtouch/time.py
  custom_components/airtouch/update.py
Due: lint, type-check, format-files

Support AirTouch connection without discovery
  custom_components/airtouch/__init__.py
  custom_components/airtouch/climate.py
  custom_components/airtouch/config_flow.py
  custom_components/airtouch/const.py
  custom_components/airtouch/cover.py
  custom_components/airtouch/devices.py
  custom_components/airtouch/manifest.json
  custom_components/airtouch/strings.json
  custom_components/airtouch/translations/en.json
  custom_components/airtouch/update.py
  pdm.lock
  pyproject.toml
Due: lint, type-check, format-files, validate-manifest

Revert back from cached_property
  custom_components/airtouch/binary_sensor.py
  custom_components/airtouch/climate.py
  custom_components/airtouch/cover.py
  custom_components/airtouch/sensor.py
  custom_components/airtouch/time.py
  custom_components/airtouch/update.py
Due: lint, type-check, format-files

Upgrade to pyairtouch 4.0.0rc3
  custom_components/airtouch/manifest.json
  pdm.lock
  pyproject.toml
Due: validate-manifest

Bump pyairtouch to 4.0.0
  custom_components/airtouch/manifest.json
  pdm.lock
  pyproject.toml
Due: validate-manifest

Clarify no device found error message
  custom_components/airtouch/translations/en.json
Due: none

Mark entities as unavailble unless connected
  custom_components/airtouch/binary_sensor.py
  custom_components/airtouch/climate.py
  custom_components/airtouch/cover.py
  custom_components/airtouch/entities.py
  custom_components/airtouch/sensor.py
  custom_components/airtouch/time.py
  custom_components/airtouch/update.py
Due: lint, type-check, format-files
